<div class="row">
	<div class="col-md-5">
		<form class="form-horizontal" ng-submit="login()" novalidate>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="user.username" placeholder="Username or email" />
			</div>
			<div class="form-group">
				<input type="password" class="form-control" ng-model="user.password" placeholder="Password" />
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default" value="Login" />
			</div>
		</form>
	</div>
</div>