<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<h2>Project</h2>
		<hr />
		<form class="form-horizontal" ng-submit="create()">
			<div class="form-group">
				<label>Title: </label>
				<input type="text" class="form-control" ng-model="project.title" />
			</div>
			<div class="form-group">
				<label>Description: </label>
				<textarea class="form-control" ng-model="project.description"></textarea>
			</div>
			<div class="form-group">
				<label>Type: </label>
				<select class="form-control" ng-model="project.type">
					<option selected value="public">Public</option>
					<option value="private">Private</option>
				</select>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Create</button>
			</div>
		</form>
	</div>
</div>