<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="nav nav-justified  navbar-inverse">
			<ul ng-show="isOwner" class="nav navbar-nav">
				<li>
					<a href="javascript:;">Information</a>
				</li>
				<li>
					<a href="javascript:;">Resources</a>
				</li>
				<li>
					<a href="javascript:;">Members</a>
				</li>
				<li>
					<a href="javascript:;" data-toggle="modal" data-target="#candidates-modal">Candidates</a>
				</li>
			</ul>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-3">
						<img class="img-circle" src="/dist/images/socials.png" width="140" height="140" />
					</div>
					<div class="col-md-9">
						<h2>{{project.title}} - {{project.owner.account.username}}</h2>
						<button class="btn btn-primary" ng-click="becomeMember()" ng-show="!isMember">Become member</button>
						<div class="well">
							{{project.description}}
						</div>
					</div>
				</div>	
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-4">
						<h4>Members</h4>
						<hr />
						<ul class="list-unstyled">
							<li ng-repeat="member in project.members">
								<a href="#/user/{{member.account.username}}"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>
<div class="modal fade" id="candidates-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"></button>
				<h4 class="modal-title">Candidates</h4>
		  	</div>
		  	<div class="modal-body">
				<ul class="list-unstyled">
					<li ng-repeat="candidate in project.memberCandidates">
						<span class="h4">
							<a href="#/user/{{candidate.account.username}}">{{candidate.account.username}}</a>
						</span>
						<span> - </span>
						<button ng-click="acceptMember(candidate)" class="btn btn-success">Accept</button>
						<button ng-click="declineMember(candidate)" class="btn btn-danger">Decline</button>
					</li>
				</ul>
		  	</div>
		  	<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		  	</div>
		</div>
	</div>
</div>
