<div class="row">
	<div class="col-md-5">
		<messages error-messages="errorMessages"></messages>
		<form class="form-horizontal" ng-submit="edit()" novalidate>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="user.name" placeholder="" />
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="user.facebookProfile" placeholder="https://facebook.com/example-profile" />
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="user.twitterProfile" placeholder="https://twitter.com/example-profile" />
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="user.linkedInProfile" placeholder="https://linkedin.com/example-profile" />
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="user.githubProfile" placeholder="https://github.com/example-profile" />
			</div>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="user.googleProfile" placeholder="https://plus.google.com/example-profile" />
			</div>			
			<div class="form-group">
				<textarea type="text" class="form-control" ng-model="user.about" placeholder="https://plus.google.com/example-profile"></textarea>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-default" value="Save" />
			</div>
		</form>
	</div>
</div>